<style>
    ::-webkit-scrollbar {
        display: none;
    }
</style>
<div class="modal modal-xl fade" id="divDisclaimer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1a6c94 !important;color :#ffffff;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Disclaimer</h1>
                
                <button type="button" class="" data-bs-dismiss="modal" aria-label="Close" style="background-color: #1a6c94 !important; color: #ffffff !important; border: none;">X</button>

            </div>
            <div class="modal-body" style="max-height:500px;overflow-x:auto;">

                <div class=" row mt-1">
                    <div class=" col-md-12">
                        Any person aggrieved by a decision of an intermediary’s Grievance Officer may appeal to the Grievance Appellate Committee within 30 days of the receipt of communication from the Grievance Officer. Submit your grievance ONLY if the Grievance Officer (GO) of the relevant intermediary has been contacted, and within 30 days of receiving the decision from the GO or on Non receipt of any response from the intermediary within 30 days.
                    </div>
                </div>

                <div class=" row mt-3">
                    <div class=" col-md-12">
                        The Grievance Appellate Committee (GAC) deals with the appeals of users (Digital Nagriks) aggrieved by decisions of Grievance Officers of social media intermediaries and other intermediaries on complaints of users or victims against violation of the rules and any other matters pertaining to the computer resources made available by the intermediary.
                    </div>
                </div>

                <div class=" row mt-3">
                    <div class=" col-md-12">
                        The GAC is an online dispute resolution mechanism. The entire appeal process, from filing to decision, is in digital mode. The Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021 ["IT Rules, 2021"] and GAC aim to ensure a Safe, Trusted and Accountable Internet for Indian users. GAC functions as a regulatory body overseeing the resolution of appeals related to social media platforms, including but not limited to Facebook, Instagram, WhatsApp, Twitter, LinkedIn, etc.
                    </div>
                </div>

                <div class=" row mt-1 alert alert-warning ">
                    <div class=" col-md-12">
                        Note:
                    </div>

                    <div class=" col-md-12">
                        <ul>
                            <li>Cases/Matters relating to financial fraud or cybercrime, may please be reported on cybercrime helpline number “1930” or visit the website "https://www.cybercrime.gov.in”.</li>
                            <li> FAQ on GAC website “https://gac.gov.in/CMSData/FAQs” be referred before filing appeal, for any assistance.</li>
                            <li>  GAC does not handle financial fraud or cybercrime cases.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer" >
                <div style="text-align :center ;width:100%;">
                    <button type="button" class="btn btn-sm btn-secondary " style="background-color: #1a6c94;font-size :14px;" data-bs-dismiss="modal">Close</button>
                </div>
                

            </div>
        </div>
    </div>
</div>