
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2><b>Contact GAC</b></h2>
            <ol>
                <li><a href=@Url.Action("Index", "Home", new {Area=""})>Home</a></li>
                <li>Contact GAC</li>
            </ol>
        </div>
    </div>
</section>


<section class="inner-page">
    <div class="container">
        <p style="text-align: justify">
            <address>
                E-mail : support-gac[at]gov[dot]in<br />
            </address>

        </p>
    </div>
</section>
