@{
    Layout = null;
}

<html class="user_font_size_normal" lang="en">
<head>
</head>
<body style="text-align:center; padding:100px 10px;">
    <div style="font-size: 80px;">Website will be available soon</div>
</body>
</html>
