
@{
    ViewBag.Title = "PressRelease";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<main id="main">
    <div class="container">
        <div class="row">
            <div class="innner-page-main-about-us-content-right-part mt-2 mb-2" style="border:3px double #f9c894;">
                <div class="MinistryNameSubhead text-center">
                    Ministry of Electronics &amp; IT
                    <br />
                    <br />
                    <br />
                </div>
                <div class="text-center">
                    <h4 style="color:#333333;font-weight:500;">
                        Government notifies Amendments to the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules 2021 for an Open, Safe &amp; Trusted and Accountable Internet<br>

                        <span id="ltrSubtitle"><br>Protection of constitutional rights of citizens - a must.<br><br>Intermediaries to respect rights accorded to the Indian citizens under article 14, 19 &amp; 21 of the Indian Constitution<br><br>‘India under PM Shri Narendra Modi is a trustee of rights of its citizens &amp; Digital Nagriks’ - MoS Shri Rajeev Chandrasekhar<br><br>‘These Rules mark new partnership between the Government &amp; Intermediaries in making &amp; keeping our Internet Safe &amp; Trusted for all Indians’ - MoS Shri Rajeev Chandrasekhar </span>
                    </h4>
                </div>

                <div class="ReleaseDateSubHeaddateTime text-center pt20">
                    Posted On:
                    29 OCT 2022 6:11PM by PIB Delhi
                </div>
                <div class="pt20">
                </div>
                <input type="hidden" name="hydphotoUrl" id="hydphotoUrl">

                <p style="text-align:justify"><span style="font-size:16px">‘Protection of constitutional rights of Indian citizens - a must. India under Prime Minister, Shri Narendra Modi is a trustee of rights of its citizens &amp; Digital Nagriks’ said Minister of State Shri Rajeev Chandrasekhar while addressing media on the amendments to the IT intermediary Rules 2021, notified by the Government on 28th October, 2022. </span></p>

                <p style="text-align:justify"><span style="font-size:16px">In a major push towards an Open, Safe &amp; Trusted and Accountable Internet, the Ministry of Electronics and IT notified these amendments aimed at protecting the rights of Digital Nagriks. It also enhances due diligence requirements and ensuring accountability of social media and other intermediaries. They have been notified against the backdrop of complaints regarding the action/inaction on the part of the intermediaries on user grievances regarding objectionable content or suspension of their accounts.</span></p>

                <p style="text-align:justify"><span style="font-size:16px">The intermediaries now will be expected to ensure that there is no uploading of content that intentionally communicates any misinformation or information that is patently false or untrue hence entrusting an important responsibility on intermediaries. </span></p>

                <p style="text-align:justify"><span style="font-size:16px">The rules also have made it explicit for the intermediary to respect the rights accorded to the citizens of India under the Articles 14, 19 and 21 of the Indian Constitution</span></p>

                <p style="text-align:justify"><span style="font-size:16px">Elaborating on the new sets of rules, Shri Rajeev Chandrasekhar, said these amendments have been made to ensure that Internet is open, safe &amp; trusted and accountable for our digital nagriks. The amendments were notified after the Ministry followed an exhaustive public consultation process involving all stakeholders.</span></p>

                <p style="text-align:justify"><span style="font-size:16px">Sharing Government’s vision &amp; intent to work along with intermediaries for achieving the common goal of keeping the internet Safe &amp; Trusted, the Minister affirmed that “these rules marks new partnership between the Government and Intermediaries in making &amp; keeping our Internet Safe &amp; Trusted and Accountable Internet”. </span></p>

                <p style="text-align:justify"><span style="font-size:16px">The amended rules are hosted on the Ministry</span><span dir="RTL" lang="TE">’</span><span style="color:#212121">s website and are available at:</span></p>

                <p style="text-align:justify"><span style="font-size:16px"><a href="https://egazette.nic.in/WriteReadData/2022/239919.pdf" rel = "noopener noreferrer" target="_blank"><span style="color:#0000fe">https://egazette.nic.in/WriteReadData/2022/239919.pdf</span></a></span></p>

                <p style="text-align:justify"><span style="font-size:16px">Key changes effected in the rules are as under:</span></p>

                <p style="text-align:justify"><span style="font-size:16px">(a)Currently, intermediaries are only required to inform users about not uploading certain categories of harmful/unlawful content. These amendments impose a legal obligation on intermediaries to take reasonable efforts to prevent users from uploading such content. The new provision will ensure that the intermediary</span><span dir="RTL" lang="TE">’</span>s obligation is not a mere formality.</p>

                <p style="text-align:justify"><span style="font-size:16px">(b)For effective communication of the rules and regulations of the intermediary, it is important that the communication is done in regional Indian languages as well.</span></p>

                <p style="text-align:justify"><span style="font-size:16px">(c)The grounds in rule 3(1)(b)(ii) have been rationalized by removing the words </span><span dir="RTL" lang="TE">‘</span>defamatory<span dir="RTL" lang="TE">’ </span><span style="color:#212121">and </span><span dir="RTL" lang="TE">‘</span>libellous<span dir="RTL" lang="TE">’</span>. Whether any content is defamatory or libellous will be determined through judicial review.</p>

                <p style="text-align:justify"><span style="font-size:16px">(d)Some of the content categories in rule 3(1)(b) have been rephrased to deal particularly with misinformation, and content that could incite violence between different religious/caste groups.</span></p>

                <p style="text-align:justify"><span style="font-size:16px">(e) The amendment requires intermediaries to respect the rights guaranteed to users under the Constitution, including a reasonable expectation of due diligence, privacy and transparency.</span></p>

                <p style="text-align:justify"><span style="font-size:16px">(f)Grievance Appellate Committee(s) will be established to allow users to appeal against the inaction of, or decisions taken by intermediaries on user complaints. However, users will always have the right to approach courts for any remedy.</span></p>

            </div>
        </div>
    </div>
</main>

