@model DigitalNagrik.Models.CommonLogin
<div class="col-lg-4 mt-3">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row" style="height:61px;">

            </div>
           
            <div class="col-lg-12 mt-4 mb-4">
                <div class="card box-shadow" style="border-radius: 10px;">
                    <div class="card-header text-white" style="border-radius: 10px; background: rgb(26 108 148);">
                        <div class="row">
                            <div class="col-md-12" style="text-align:center;font-size:16px;font-weight:bold;border-radius:10px;">
                                @Html.ActionLink("Rights of Users of IT Intermediaries", "RightsofUsers", "Home",new {@style="color:#ffffff" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
