@{
    ViewBag.Title = "About Us";
    @model DigitalNagrik.Models.CMSDataAddDocument
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    
}

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2><b>About Grievance Appellate Committee</b></h2>
            <ol>
                <li><a href=@Url.Action("Index","Home",new {Area=""})>Home</a></li>
                <li>About Us</li>
            </ol>
        </div>
    </div>
</section>
<section class="inner-page">
    <div class="container" style="min-height:500px;">
        <div class="fw-bold mb-2" style="text-align:left;">
            Grievance Appellate Committee
        </div>
        <div style="text-align: justify; margin-bottom: 0px; ">

            The Grievance Appellate Committee (GAC) is established under the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021 [“IT Rules”], made under the Information Technology Act, 2000. The IT Rules and GAC aim to ensure a Safe & Trusted and Accountable Internet for Indian users. The GAC deals with the appeals of users (Digital Nagriks) aggrieved by decisions of Grievance Officers of social media intermediaries and other intermediaries on complaints of users or victims against violation of the IT Rules and any other matters pertaining to the computer resources made available by the intermediaries.
            <br />
            <br />
            The GAC is an online dispute resolution mechanism. The entire appeal process, from filing to decision, is in digital mode. GAC endeavours to resolve appeals within 30 days.
            <br />
            <br />
            <div>
                The IT Rules require social media and other intermediaries to observe due diligence by making reasonable efforts to cause their users not to host,display, upload, modify, publish, transmit, store, update or share any information as specified in rule 3(1)(b). Further, rule 3(2) provides for a grievance redressal mechanism by which users or victims may complain to the Grievance Officer of the intermediary against violation of the rules and any other matters pertaining to the computer resources made available by it, for timebound resolution. Rule 3(2)(b) also provides for timebound action by the intermediary upon a complaint in the nature of request for removal of information or communication link. Any person aggrieved by a decision of the Grievance Officer may prefer an appeal to GAC within 30 days of receipt of communication from the Grievance Officer.
            </div>

        </div>
    </div>
</section>

