<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings>
		<add name="DigitalNagrik" providerName="System.Data.SqlClient" connectionString="Data Source=10.146.45.45;Initial Catalog=DigitalNagrik;Integrated Security=False;User ID=sa;Password=secure123" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="EnableLog" value="true"></add>
		<add key="EnableLogEmail" value="false"></add>
		<add key="VMIP" value="10.146.50.78" />
		<add key="SSOAPIPort" value="8082" />
		<add key="HostName" value="localhost:1690" />
		<add key="domainname" value="http://localhost:1690" />
		<add key="FTPServerAddress" value="ftp://10.146.50.43/dn/" />
		<add key="FTPUserID" value="share" />
		<add key="FTPUserPassword" value="Test@1234" />
		<add key="SMTP_HOST_NAME" value="relay.nic.in" />
		<add key="SMTP_AUTH_USER" value="+fKC9Wn356FfpzYHeHzuBLGsU/THhKw9dvxm7Tmg/L0=" />
		<add key="SMTP_AUTH_PWD" value="ulOmcv1tIXx5MVa7eY6oCQ==" />
		<add key="userIDSMS" value="gacgov.sms" />
		<add key="userIDOTP" value="gacgov.otp" />
		<add key="pwdSMS" value="D4%gM6$tD8" />
		<add key="senderIDSMS" value="GACGOV" />
		<add key="entity_id" value="1401481550000045818" />
		<add key="SendSMSYN" value="N" />
	</appSettings>
	<system.web>
		<sessionState mode="InProc" timeout="30" cookieName="student" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="104857600" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="EndpBehaviour">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add scheme="http" binding="webHttpBinding" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="NICWebServiceSoap" maxReceivedMessageSize="200000000" />
				<binding name="ServiceSoap" maxReceivedMessageSize="200000000" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://10.146.50.78/DigitalNagrikWebservice/NICWebService.asmx" binding="basicHttpBinding" bindingConfiguration="NICWebServiceSoap" contract="NICWebService.NICWebServiceSoap" name="NICWebServiceSoap" />
		</client>
	</system.serviceModel>
</configuration>